<% extend('../theme-user') %>

<!--<div class="container-sm">-->
<!--</div>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-1 col-sm-2" ng-controller="galleries" data-ng-init="init()">
            <h3>Mis Gallerias</h3>
            <ul class="nav flex-column" ng-repeat="gallery in galleries">
                <li class="d-flex px-0">
                    <div ng-model="galVisibleColor" class="pt-2 text-success">
                        <a href ng-click="galleryVisible({{ gallery.id }}, true)"><i ng-model="galVisiblePublicTrue" class="fas fa-eye"></i></a>
                        <i ng-model="galVisiblePublicFalse" ng-click="galleryVisible({{ gallery.id }}, false)" class="fas fa-eye-slash fade"></i>
                    </div>
                    <a href ng-click='setSelectedGallery(gallery)' class="nav-link active">
                        {{ gallery.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-11 col-sm-10" ng-controller="images">
            <div id="toolbar">
                <div class="btn-group">
                    <button id="btn-add-img" class="btn btn-outline-secondary" data-toggle="modal" data-target=".modal-add-img"><i class="fas fa-plus"></i></button>
                    <button id="btn-del-img" class="btn btn-outline-secondary" ng-click="delImg()"><i class="fas fa-minus"></i></button>
                    <!--<button id="btn-del-row" class="btn btn-outline-secondary" ng-click="deleteTableRow()">del row</button>-->
                </div>
            </div>
            <table id="table"
                   class="table table-xs"
                   data-toggle="table"
                   data-classes="table"
                   data-striped="true"
                   data-search="true"
                   data-pagination="true"
                   data-page-number="1"
                   data-show-refresh="true"
                   data-toolbar="#toolbar"
                   data-click-to-select="true"

                   data-checkbox-header="true"

                   data-side-pagination="server"
                   data-url="http://localhost:3000/services/images?token=asdasd"
                   ng-model="imageTable"
            >
                <thead>
                <tr>
                    <th data-checkbox="true">...</th>
                    <th data-field="name" data-sortable="true">Nombre</th>
                    <th data-field="public" data-formatter="publicFormatter" data-align="center">Público</th>
                    <th data-field="filename">Archivo</th>
                    <th data-field="type">Tipo</th>
                    <th data-field="created" data-formatter="dateTimeFormatter" data-sortable="true">Creado</th>
                    <th data-field="url" data-formatter="shortenFormatter">URL</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!--modal add-image-->
<div class="modal modal-add-img" tabindex="-1" role="dialog" ng-controller="imageModal" data-ng-init="init()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form ng-submit="newImage()">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Imagen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="imgName" name="imgName" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="descript" name="descript" placeholder="Descripción">
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" ng-model="publicGall" name="publicGall" id="defaultCheck1" value="true" required>
                            <label class="form-check-label" for="defaultCheck1">Público</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" ng-model="publicGall" name="publicGall" id="defaultCheck2" value="false">
                            <label class="form-check-label" for="defaultCheck2">Privado</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" nv-file-select="" uploader="uploader" name="inputGroupFile01" aria-describedby="inputGroupFileAddon01" accept="image/*" required>
                            <label class="custom-file-label" for="inputGroupFile01" id="inputGroupFile01Label">Seleccionar Archivo</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess"><i class="fas fa-upload"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/bootstrap-table-formatter.js"></script>
<script src="/js/angular-file-upload.js"></script>
<script>
    $("#inputGroupFile01").change(function () {
        $("#inputGroupFile01Label").html($(this).val());
    });

</script>