<% extend('../theme-admin') %>

<div class="container-sm">
    <h4>Usuarios</h4>
</div>
<div class="row mr-2">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Lista</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Perfiles</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div id="toolbar">
                    <button class="btn btn-primary" ng-click="btnAdd()">Add</button>
                    <div class="btn-group d-none" id="table-options">
                        <button class="btn " id="btnBorrar" ng-click="btnBorrar()"><i class="fas fa-trash-alt"></i></button>
                        <button class="btn " id="btnEnable" ng-click="btnEnable()"><i class="fas fa-user-check"></i></button>
                        <button class="btn " id="btnDesable" ng-click="btnDeseable()"><i class="fas fa-user-times"></i></button>
                    </div>
                </div>
                <table id="table"
                    data-classes="table"
                    data-striped="true"
                    data-search="true"
                    data-pagination="true"
                    data-page-number="1"
                    data-show-refresh="true"
                    data-toolbar="#toolbar"
                       data-click-to-select="true"
                       data-checkbox-header="true"

                       data-select-item-name="_id"
                    data-url="">

                       <!--data-side-pagination="server"-->
                       <!--data-url="http://localhost:3000/api/user/list"-->
                <!--&gt;-->
                    <thead>
                        <tr>
                            <th data-field="_id" data-visible="false"></th>
                            <th data-checkbox="true">&nbsp;</th>
                            <!--<th data-formatter="checkboxFormatter"><input type="checkbox" id="checkall" /></th>-->
                            <th data-field="username" data-sortable="true">Usuario</th>
                            <th data-field="enabled" data-formatter="userBooleanFormatter" data-align="center">Habilitado</th>
                            <th data-field="role">Role</th>
                            <th data-field="email">Email</th>
                            <th data-field="created" data-formatter="dateFormatter">Creado</th>
                            <!--<th data-field="last" data-formatter="dateFormatter">Ultima Visita</th>-->
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
        </div>
    </div>
</div>
<div id="data"></div>

<div id="modalMsg" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{modalText}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnAccept">{{btnAccept}}</button>
            </div>
        </div>
    </div>
</div>

<div id="modalUpdate" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="" name="userForm" ng-model="userForm">
                    <div class="form-group">
                        <!--<label for="name">Username</label>-->
                        <input type="text" name="username" id="name" class="form-control form-control-sm" placeholder="Username" ng-model="username" ng-minlength="6" ng-maxlength="10" required>
                        <span class="field-message" ng-show="userForm.username.$touched && userForm.username.$invalid">Username is required, and must have minimum 6 characters and maximun 10.</span>
                    </div>
                    <div class="form-group">
                        <!--<label for="email">Email</label>-->
                        <input type="email" name="email" id="email" class="form-control form-control-sm" placeholder="Email" ng-model="email" required>
                        <span class="field-message" ng-show="userForm.email.$touched && userForm.email.$invalid">Email is required.</span>
                    </div>
                    <div class="form-group">
                        <!--<label for="password">Password</label>-->
                        <input type="password" name="password" id="password" class="form-control form-control-sm" placeholder="Password" ng-model="pass1" ng-minlength="6" ng-maxlength="10" required>
                        <span class="field-message" ng-show="userForm.password.$touched && userForm.password.$invalid">Password is required, and must have minimum 6 characters and maximun 10.</span>
                    </div>
                    <div class="form-group">
                        <!--<label for="email" class="custom-control-label">Repeat Password</label>-->
                        <input type="password" name="passwordRepeat" id="passwordRepeat" class="form-control form-control-sm" placeholder="Repeat Password" ng-model="pass2" equal="{{user.pass1}}" required>
                        <span class="field-message" ng-show="userForm.passwordRepeat.$error.equal">Password must be identical</span>
                    </div>
                    <!--<div class="form-control">-->
                        <!--<label for="role">Role</label>-->
                        <select name="role" id="role" class="form-control form-control-sm">
                            <option value="0">Select Role</option>
                            <option value="1">User</option>
                            <option value="2">Admin</option>
                        </select>
                    <!--</div>-->
                    <div class="custom-control custom-switch mt-2">
                        <input type="checkbox" class="custom-control-input" checked id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1">Enabled</label>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnAccept">{{btnAccept}}</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/bootstrap-table-formatter.js"></script>
<script>
    $("#table").on('uncheck.bs.table', function (row, el) {
        var selected = $("#table").bootstrapTable('getSelections');
        if(selected.length < 1){
            $("#table-options").addClass("d-none");
        }
    });
    $("#table").on('check.bs.table', function (row, el) {
        $("#table-options").removeClass("d-none");
        // console.log(el.id);
    });
    $("#table").on('check-all.bs.table', function () {
        $("#table-options").removeClass("d-none");
    })

    $("#table").on("uncheck-all.bs.table", function (){
        $("#table-options").addClass("d-none");
    });
</script>
